@import "../Variables/Variables.scss";
@import "../Breakpoints/Breakpoints.scss";

.group-card-panel-unread {
  @include sm {
    display: flex;
    min-width: 5.5em;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: $unreadGray;
    align-items: center;
    // p {
    //   color: $graytext;
    // }
  }
}

.avatar {
  height: 60px;
  width: 60px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.2em; /* Add spacing between avatar and user info */
}

.user-info {
  display: flex;

  padding-top: 1em;
  flex-wrap: wrap;
  div {
    color: $graytext;
  }
}

.username {
  display: inline-block;
  white-space: nowrap;
  font-family: $fontExtraBold, sans-serif;
  font-weight: 800;
  color: $darktext;
  margin-right: 0.4em;
  // margin-bottom: 0.8em;
}

.time-stamp-placeholder {
  padding-top: 0.5em;
}

.timestamp {
  margin-top: 0%;
}

.group-card-name {
  height: auto;
  font-family: $fontExtraBold, sans-serif;
  font-size: 16px;
  margin: 0px;
  white-space: nowrap;
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

//
