@import "../Variables/Variables.scss";
@import "../Breakpoints/Breakpoints.scss";

.group-card-panel-unread {
  @include sm {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: $grayspace;
    align-items: center;
    cursor: pointer;
  }

  @include lg {
    display: flex;
    min-width: 5.5em;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: $grayspace;
    align-items: center;
    cursor: pointer;
  }
}

.group-card-panel-read {
  @include sm {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    // background-color: $white;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    background-color: $white;
  }

  @include lg {
    display: flex;
    min-width: 5.5em;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    // background-color: $white;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    background-color: $white;
  }
}

.avatar {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 0.2em;
}

.user-info {
  display: flex;
  padding-top: 1em;
  flex-wrap: wrap;
  div {
    color: $graytext;
  }
}

.username {
  display: inline-block;
  white-space: nowrap;
  font-family: $fontExtraBold, sans-serif;
  font-weight: 800;
  color: $darktext;
  margin-right: 0.4em;
}

.description-styles {
  font-family: $fontMedium, sans-serif;
}

.time-stamp-placeholder {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

.timestamp {
  color: #96a4b2;
}

.group-card-name {
  height: auto;
  font-family: $fontExtraBold, sans-serif;
  font-size: 16px;
  margin: 0px;
  white-space: nowrap;
}

.user-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.private-message-container {
  @include sm {
    min-height: 3em;
    width: auto;
    border: 1px #96a4b2 solid;
    font-family: $fontMedium, sans-serif;
    color: $graytext;
    padding: 1em;
    border-radius: 3px;
    margin-bottom: 1.5em;
  }

  @include lg {
    min-height: 3em;
    width: auto;
    border: 1px #b9c4cf solid;
    font-family: $fontMedium, sans-serif;
    color: $graytext;
    padding: 1em;
    border-radius: 3px;
    margin-bottom: 1.5em;
  }
}

.group-styles {
  font-family: $fontMedium, sans-serif;
  font-weight: 800;
  color: navy;
}

.post-styles {
  font-family: $fontMedium, sans-serif;
  font-weight: 600;
  color: $graytext;
}

.red-dot {
  display: flex;
  margin-left: 0.5em;
  animation: pulse 3s infinite;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: red;
  border-radius: 100%;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 1px rgb(244, 3, 3);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 8px rgb(244, 3, 3);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 1px rgb(244, 3, 3);
  }
}

//
