@import "../Variables/Variables.scss";

// .font-test {
//   border: 1px red solid;
//   h2 {
//     font-family: $fontMedium, sans-serif;
//     font-weight: 400;
//     font-size: 24px;
//     color: gray;
//   }
// }

// .variable-font-test h2 {
//   font-family: $fontExtraBold, sans-serif;
//   font-weight: 300;
// }

.notifications-panel {
  // @include borderCheck;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 3em;
  height: 100%;
  width: 44em;
  border-radius: 10px;
  background-color: $white;
  box-shadow: rgba(226, 221, 221, 0.2) 0px 0px 16px 0px;
}
